<div class="skills-container">
    <div class="skills-title">SKILLS</div>
    <div class="skills-cards">

        <mat-card class="skills-card">
            <mat-card-title>software</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let skill of skills">{{skill}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="skills-card">
            <mat-card-title>tools</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let tool of tools">{{tool}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="skills-card">
            <mat-card-title>certifications</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content id="cert-card">
                <mat-list class="cert-list">
                    <mat-list-item *ngFor="let cert of certifications">
                        <mat-card-content>
                            <mat-card-title class="cert-title">
                                {{cert.title}}
                            </mat-card-title>
                            <mat-card-subtitle class="cert-desc">
                                {{cert.description}}
                            </mat-card-subtitle>
                        </mat-card-content> 
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </div>
</div>