<div class="about-container">
    <div class="about-pic on-bidet"></div>
    <div class="about-content">
        <div class="about-title">Hi, I'm Kate!</div>
        <div class="about-bio">
            My passion lives where creativity, logic, and psychology collide.  While pursuing countless forms of artistic expression, thinking logically is at my core.  
            I earned a Bachelor of Science degree in Applied Mathematics from the University of Arkansas in 2018 and have since been working as a software engineer creating UIs while supporting multiple teams at BAE Systems, Inc.  
            Working with a Hollywood graphic designer who created the futuristic themed UIs used on the set of West World, I realized my passion for UX design.  
            Fresh out of college with my new mentor, I created mockups and presented design options for my team and our management.  
            This pioneering process began with playing with possibilities via Adobe Illustrator, progressed to implementing the features by writing code, then with a strong sense of accomplishment, demonstrating the new capabilities to our customers of the Intelligence Community.  
            Discovering new ways to present vast amounts of data in an easily digestible and accessible way is fascinating.  
            I was able to improve the workflow for Intelligence Analysts by designing and creating innovative technology, and this is what sparked my desire to learn more.  
            The process of creating new, intuitive designs to meet an abstract end goal was the most rewarding task I had done to date, and it’s what I aim to do in my future.  
            I’m driven to design technologies that let humans interact with computers in novel ways to improve conventions in effective, creative ways. 
        </div>
    </div>
</div>