.about-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15%;
    color: #777;
}

.on-bidet {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/11B20D5B-DC79-4224-AD52-FAAE26AB4600.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 40vh;
    flex: 1 1;
}

.about-content {
    padding: 50px;
    flex: 2 1;
}

.about-title {
    font-size: 30px;
    margin-bottom: 30px;
}