.about-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15%;
    color: #777;
}

.on-bidet {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/on-bidet.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 40vh;
    flex: 1 1;
    min-width: 240px;
    background-position: center;
}

.about-content {
    padding: 50px;
    flex: 2 1;
}

.about-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.words {
    font-weight: bold;
    padding-bottom: 15px;
}

@media only screen and (max-width: 715px) {
    .about-container {
        display: block;
        margin-top: 40px;
    }

    .about-content{
        padding: 2rem
    }
} 