.profile-container {
    display: flex;
    flex-direction: column;
}

.nav-btns {
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border: none;
}

.nav-btn {
    padding: 0px 35px 0px 35px;
    background: rgba(42,42,42,0.7);
}

#about {
    display: flex;
    justify-content: center;
    min-height: 65vh;
}

.content {
    display: flex;
    justify-content: center;
    padding: 10vh 0vh;
}

.parallax {
    height: 35vh;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/31600341.jpeg");
}

.rock-climbing {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/B3B9FC05-41B7-4759-B8B2-F35E38B44CB8.jpg");
}

.bangkok-mall {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/83A257A3-D2E6-4E56-AF5D-BE0EB6BB73AC.jpeg");
}

.boulder-in-boulder {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/IMG_9839.jpg");
}

.tide-pools {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/9AE4849E-DB00-4725-BD91-7092205266F1.jpg");
}

.ho-chi-minh {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/IMG_1521.jpg");
}

.red-rocks {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/IMG_0541.jpg");
}