.profile-container {
    display: flex;
    flex-direction: column;
}

.nav-btns {
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border: none;
}

.button-group-somthing {
    max-width: 715px;
    width: 100%;
    margin: auto;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.nav-btn {
    padding: 0px 35px 0px 35px;
    background: rgba(42,42,42,0.7);
}

.mobile-menu {
    display: none;
}

#dots:hover {
    background-color: gray;
    border-radius: 50%;
}

@media only screen and (max-width: 715px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        position: fixed;
    }
}

#about {
    display: flex;
    justify-content: center;
    min-height: 65vh;
}

.content {
    display: flex;
    justify-content: center;
    padding: 10vh 0vh;
}

.parallax {
    height: 35vh;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/11B20D5B-DC79-4224-AD52-FAAE26AB4600.jpg");
}

.rock-climbing {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/malibu-climbing.jpg");
}

.sd-flowers {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/sd-flowers.jpg");
}

.jtree-rocks {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/jtree-rocks.heic");
}

.tide-pools {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/tide-pools.JPG");
}

.ho-chi-minh {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/mission-gorge-climbing.JPG");
}

.red-rocks {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/IMG_0541.jpg");
}

.sd-jap-garden {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/sd-jap-garden.heic");
}

.sd-sunset {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/sd-sunset.jpg");
}

.el-cajon-mtn {
    background-image: url("https://krhphotos.s3.us-west-1.amazonaws.com/el-cajon-mtn.jpg");
}