.parallax {
    height: 300px;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/31600341.jpeg");
}

.rock-climbing {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/B3B9FC05-41B7-4759-B8B2-F35E38B44CB8.jpg");
}

.bangkok-mall {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/83A257A3-D2E6-4E56-AF5D-BE0EB6BB73AC.jpeg");
}

.on-bidet {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/11B20D5B-DC79-4224-AD52-FAAE26AB4600.jpg");
}

.boulder-in-boulder {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/IMG_9839.jpg");
}

.tide-pools {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/9AE4849E-DB00-4725-BD91-7092205266F1.jpg");
}

.ho-chi-minh {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/IMG_1521.jpg");
}

.red-rocks {
    background-image: url("https://hadden-personal.s3-us-west-1.amazonaws.com/IMG_0541.jpg");
}