.experience-container {
    color: #777;
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.corporate-ladder {
    background: white;
}

::ng-deep .mat-vertical-stepper-content { 
    visibility: visible !important; 
    height: 100% !important; 
}

.exp-card {
    display: flex;
    flex-direction: column;
    background: rgba(42,42,42,0.75);
    padding: 50px;
}

.exp-company,
.exp-role-and-duration {
    margin-bottom: 0;
}

.experience-location {
    font-size: 12px;
    font-style: italic;
}

.exp-role-and-duration {
    line-height: 16px;
}

.exp-subtitle {
    margin-bottom: 0px;
}

.sub-sub-title {
    margin: 15px 0px 0px 0px !important;
}

@media only screen and (max-width: 715px) {
    .experience-container {
        padding: 0 2rem;
    }

    .mat-card {
        padding: 15px;
    }

    .about-content{
        padding: 2rem
    }

    ::ng-deep .mat-step-header{
        padding: .5rem !important;
    }

    ::ng-deep .mat-vertical-content-container {
        margin-left: 20px !important;
    }

    ::ng-deep .mat-stepper-vertical-line::before{
        top: -4px !important;
        bottom: -4px !important;
    }
} 