<div class="experience-container">
    <div class="section-title">EXPERIENCE</div>
    <div class="experience-container">
        <mat-card class="exp-card">
            <mat-card-title>
                Software Engineer II
            </mat-card-title>
            <mat-card-subtitle>
                BAE Systems
                <br>
                June 2018 - present
            </mat-card-subtitle>
            <mat-content>
                describing my LOVELY experience at BAE yay
            </mat-content>
        </mat-card>
        <mat-card class="exp-card">
            <mat-card-title>
                Software Engineer Internship
            </mat-card-title>
            <mat-card-subtitle>
                Dillard's Inc
                <br>
                June 2017 - August 2017
            </mat-card-subtitle>
            <mat-content>
                describing my LOVELY experience at Dill's yay
            </mat-content>
        </mat-card>
        <mat-card class="exp-card">
            <mat-card-title>
                Academic Tutor
            </mat-card-title>
            <mat-card-subtitle>
                Campus Concierge
                <br>
                January 2018 - May 2018
            </mat-card-subtitle>
            <mat-content>
                describing my LOVELY experience tutoring yay
            </mat-content>
        </mat-card>
    </div>
</div>