.experience-container {
    color: #777;
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.corporate-ladder {
    background: white;;
}

::ng-deep .mat-vertical-stepper-content { 
    visibility: visible !important; 
    height: 100% !important; 
}

.exp-card {
    display: flex;
    flex-direction: column;
    background: rgba(42,42,42,0.75);
    padding: 50px;
}

.exp-subtitle {
    margin-bottom: 0px;
}

.sub-sub-title {
    margin: 15px 0px 0px 0px !important;
}