<div class="experience-container">
    <div class="section-title">EXPERIENCE</div>
    <mat-vertical-stepper class="corporate-ladder">
        <ng-template matStepperIcon="edit">
            <mat-icon>bubble_chart</mat-icon>
        </ng-template>
        <mat-step *ngFor="let experience of experiences">
            <mat-card class="exp-card">
                <mat-card-title class="exp-company">
                    {{experience.company}}
                    <span class="experience-location" *ngIf="!!experience.jobLocation"> {{experience.jobLocation}}</span>
                </mat-card-title>
                <mat-card-subtitle class="exp-role-and-duration">
                    {{experience.title}}
                    <br>
                    {{experience.jobDates}}
                </mat-card-subtitle>
                <mat-content>
                    <ul class="exp-notes">
                        <li *ngFor="let note of experience.notes">{{note}}</li>
                    </ul>
                </mat-content>
            </mat-card>
        </mat-step>
    </mat-vertical-stepper>
</div>