<div class="contact-container">
    <div class="section-title">CONTACT</div>
    <mat-card class="contact-card">
        <mat-card-title class="contact-card-title">
            LET'S GET IN TOUCH
        </mat-card-title>
        <mat-card-content class="contact-card-content">
            <!-- <div class="forms-container">
                <form class="contact-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>YOUR NAME</mat-label>
                        <input matInput placeholder="John Appleseed">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>YOUR EMAIL</mat-label>
                        <input matInput placeholder="hello@mail.com">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>YOUR MESSAGE</mat-label>
                        <textarea matInput placeholder="Ex. OMG you're amazeballs..."></textarea>
                    </mat-form-field>
                </form>
                <button mat-raised-button class="send-btn" color="primary">Send</button>
            </div> -->
            <div class="biz-card">
                <mat-header>
                    INTERESTED IN WORKING TOGETHER?
                </mat-header>
                <div class="phone-number">501-993-7056</div>
                <div class="email-addy">krhadden@gmail.com</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>