.contact-container {
    color: #777;
    text-align: justify;
    width: 70%;
}

.contact-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 3px -1px rgba(0, 0, 0, 0.5);
}

.section-title {
    font-size: 30px;
    margin-bottom: 60px;
}

.contact-card-title {
    padding: 20px;
    font-size: x-large;
}

.contact-card-content {
    display: flex;
    justify-content: space-around;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.forms-container {
    flex-grow: 1;
}

.send-btn {
    float: right;
}