.education-container {
    color: #777;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15%;
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.edu-card {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 50px 0px;
    padding: 50px;
}