<div class="education-container">
    <div class="section-title">EDUCATION</div>
    <mat-card class="edu-card">
        <mat-card-title>
            B.S. in Applied Mathematics
        </mat-card-title>
        <mat-card-title>
            Minor in Computer Science
        </mat-card-title>
        <mat-card-subtitle>
            University of Arkansas
            <br>
            2014 - 2018
        </mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>